//<ОСНОВНОЙ БЛОК>====================================================================================================
@use "sass:math";

.title {
	text-align: center;

	// .title__item
	&__item {
		font-family: 'ceremonious';
		font-size: 40px;
		line-height: 25px;
		color: #bb9c66;
		margin: 0px 0px math.div(20, 40) * 1em 0px;
	}

	// .title__main
	&__main {
		color: #000;
		font-family: 'PFDin';
		font-size: 35px;
		font-weight: 500;
		line-height: calc(40/35);
		letter-spacing: 5.25px;
		text-transform: uppercase;

		&_regular {
			font-weight: 400;
		}

		&_white {
			color: #fff;
		}

		@media (max-width:$md3+px) {
			font-size: 30px;
		}
	}
}

//========================================================================================================================================================
.block-header {


	// .block-header__title
	&__title {
		margin: 0px 0px 20px 0px;
	}

	// .block-header__decor
	&__decor {}
}

.block-decor {
	display: flex;
	align-items: center;

	// .block-decor__items
	&__items {
		display: flex;
		align-items: center;
		flex: 1 1 auto;

		&::before {
			content: '';
			flex: 1 1 auto;
			height: 1px;
			width: 100%;
			background: #bb9c66;
		}

		&::after {
			content: '';
			flex: 0 0 25px * 0.723;
			width: 25px * 0.723;
			height: 25px * 0.723;
			border: 1px solid #bb9c66;
			transform: rotate(45deg);
			margin: 0px 5px 0px 5px;
		}

		span {
			display: flex;
			align-items: center;
			margin: 0px 5px;

			&::before {
				content: '';
				flex: 0 0 10px;
				height: 10px;
				width: 10px;
				border: 1px solid #bb9c66;
				border-radius: 50%;
				margin: 0px 5px;
			}

			&::after {
				content: '';
				flex: 0 0 15px * 0.723;
				width: 15px * 0.723;
				height: 15px * 0.723;
				border: 1px solid #bb9c66;
				transform: rotate(45deg);
			}
		}

		&:last-child {
			flex-direction: row-reverse;

			span {
				flex-direction: row-reverse;
			}
		}
	}

	// .block-decor__icon
	&__icon {
		text-align: center;
		flex: 0 0 145px;

		img {
			max-width: 70px;
		}

		@media (max-width:$md3+px) {
			flex: 0 0 95px;
		}
	}
}

//========================================================================================================================================================
.lot {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;

	// .lot__header
	&__header {
		position: relative;
		text-align: center;
		margin: 0px 0px 30px 0px;
	}

	// .lot__image
	&__image {
		display: block;
		border: 3px solid #bb9c66;
		padding: 0px 0px 98% 0px;
	}

	// .lot__title
	&__title {
		color: #000;
		font-family: "PFDin";
		font-size: 21px;
		font-weight: 500;
		line-height: calc(25/21);
		text-transform: uppercase;

		position: relative;
		z-index: 20;
		flex: 1 1 auto;
		margin: 0px 0px math.div(28, 21) * 1em 0px;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: 975px) {
			font-size: 18px;
		}
	}

	// .lot__info
	&__info {}

	// .lot__btn
	&__btn {
		margin: 0px 25px;
	}

	// .lot__timer
	&__timer {}
}

.timer-lot {
	position: absolute;
	left: 50%;
	bottom: 0;

	display: inline-flex;
	flex-direction: column;
	align-items: center;

	height: 72px;
	width: 72px;
	padding: 2px 0px 0px 0px;
	transform: translate(-50%, 50%);

	div {
		position: relative;
		z-index: 10;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;

		width: 100%;
		height: 100%;
		background-color: #fff;
		transform: rotate(-45deg);
	}

	// .timer-lot__icon
	&__icon {
		margin: 0px 0px 5px 0px;
	}

	// .timer-lot__item
	&__item {
		font-family: 'PT Sans Narrow';
		font-size: 18px;
	}
}

.info-lot {
	display: flex;
	justify-content: center;
	margin: 0px 0px 35px 0px;

	// .info-lot__statistics
	&__statistics {
		display: flex;
		flex-direction: column;
		align-items: center;

		flex: 0 0 50px;
	}

	// .info-lot__icon
	&__icon {
		position: relative;

		display: inline-flex;
		justify-content: center;
		align-items: center;

		width: 25px * 0.72;
		height: 25px * 0.72;
		margin: 0px auto 10px auto;

		img {
			position: relative;
			z-index: 20;
		}

		&::after {
			content: '';
			position: absolute;

			width: 100%;
			height: 100%;
			transform: rotate(-45deg);
			background-color: #000;
		}
	}

	// .info-lot__value
	&__value {
		position: relative;
		font-size: 14px;
		padding: 0px 0px 6px 0px;
		// border-bottom: 1px solid #bb9c67;
		width: 100%;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 1px;
			border-bottom: 1px solid #bb9c67;
		}
	}

	// .info-lot__currency-bet
	&__currency-bet {
		flex: 1 1 auto;

		@media (max-width: 975px) {
			flex: 0 0 auto;
		}
	}
}

.currency-bet-info-lot {
	position: relative;
	padding: 0px 5px;

	@media (max-width: 975px) {
		padding: 0 20px;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;

		width: 72px;
		height: 72px;
		border: 2px solid #bb9c66;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	div {
		position: relative;
		z-index: 20;
	}

	// .currency-bet-info-lot__label
	&__label {
		color: #000;
		font-family: "PT Sans";
		font-size: 14px;
		margin: 0px 0px 5px 0px;
	}

	// .currency-bet-info-lot__value
	&__value {
		color: #1c242a;
		font-family: "BravoRGRegular";
		font-size: 50px;
		white-space: nowrap;

		@media (max-width:975px) {
			font-size: 35px;
		}
	}

	// .currency-bet-info-lot__currency
	&__currency {}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;

	li {
		position: relative;
		padding: 0px 0px 0px 45px;

		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}

//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;

	&.full {
		width: 100%;
	}
}

//====================================================================================================
._ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;

	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.videobg {

	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}

//====================================================================================================
// ._more-block
._more-block {}

// ._more-content
._more-content {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}

// ._more-item
._more-item {}

// ._more-link
._more-link {
	cursor: pointer;

	span {
		font-style: normal;

		&:first-child {
			display: block;
		}

		&:last-child {
			display: none;
		}
	}

	&._active {
		span {
			font-style: normal;

			&:first-child {
				display: none;
			}

			&:last-child {
				display: block;
			}
		}
	}
}

//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

//====================================================================================================
#map {
	background: url("../img/icons/loading.gif") center / 50px no-repeat;
}

//====================================================================================================
._swiper {
	overflow: hidden;

	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}

	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}

	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}

.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-container-android {

	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-lock {
	display: none !important;
}

//====================================================================================================
._tabs {}

._tabs-item {}

._tabs-block {
	display: none;

	&._active {
		display: block;
	}
}

//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}

//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}

//========================================================================================================================================================

//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;

	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================